.edu{
    background-color: antiquewhite;
}
.higherCollege{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(147, 150, 150);
    padding: 20px;
    color: rgb(20, 20, 20);
    margin: 10px;
    height: auto;
    border-radius: 8px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.eduText{
    background-color: rgba(234, 241, 235, 0.843);
    color: black;
    height: auto;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.collegeName{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;
}
.branch{
    font-size: 14px;
    padding: 10px;
    font-family: 'Libre Baskerville', serif;
}
.year{
    padding: 0px 10px;
    font-size: 11px;
    font-family: 'Libre Baskerville', serif;
}



@media (max-width:850px) {

    .eduImg-1{
        display: none;
    }

}